openapi: 3.0.0
info:
  title: 'keyCRM OpenAPI documentation'
  description: 'Опис REST маршрутів для роботи з keyCRM OpenAPI.<br><br> <b>Зверніть увагу:</b> <br> 1. Для авторизації потрібно передавати заголовок у форматі Bearer + <a href="https://help.keycrm.app/uk/process-automation-api-and-more/where-to-get-an-api-key" target="_blank">APIkey</a> (authorization:[Bearer `ваш-API-ключ`]); <br> 2. Є обмеження до 60 запитів на хвилину з однієї IP-адреси по API-ключу; <br> 3. Час у всіх сутностях використовується UTC (GMT+0) - при зчитуванні (GET-запити), при виборі (фільтрації) по часу створення сутності, а також при створенні сутностей (POST).'
  version: 1.2.0
servers:
  -
    url: 'https://openapi.keycrm.app/v1'
    description: 'Основний сервер API keyCRM'
tags:
  -
    name: Pipelines
    description: 'Робота з воронками.'
  -
    name: Order
    description: 'Робота із замовленнями та їх асоціаціями.'
  -
    name: Buyer
    description: 'Робота з покупцями.'
  -
    name: Company
    description: 'Робота з компаніями.'
  -
    name: Products
    description: 'Робота з товарами.'
  -
    name: Offer
    description: 'Робота з варіантами товарів і залишками.'
  -
    name: 'Custom Fields'
    description: 'Робота з користувацькими полями.'
  -
    name: Storage
    description: 'Робота з файловою системою.'
  -
    name: Payments
    description: 'Робота з оплатами.'
paths:
  /order:
    get:
      tags:
        - Order
      summary: 'Отримання списку замовлень'
      description: 'Даний маршрут повертає список замовлень.'
      operationId: getPaginatedListOfOrders
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
        -
          name: include
          in: query
          description: 'Підключення додаткових асоціацій, розділені комами. Приклад: <strong>buyer,status,tags</strong> <br/><br/> Допустимі асоціації `buyer`, `products.offer`, `manager`, `tags`, `status`, `marketing`,  `payments`, `shipping.lastHistory`, `shipping.deliveryService`, `expenses`, `custom_fields`, `assigned`'
          required: false
          style: form
          explode: true
          schema:
            type: string
        -
          name: sort
          in: query
          description: 'Сортування списку замовлень'
          required: false
          style: form
          explode: true
          schema:
            type: string
          examples:
            sort_asc:
              value: id
              summary: 'Сортування за зростанням'
            sort_desc:
              value: '-id'
              summary: 'Сортування за зменшенням'
        -
          name: filter
          in: query
          description: 'Фільтрація списку замовлень'
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
          examples:
            filter_by_status:
              value:
                status_id: 1
              summary: 'Фільтр за статусом'
            filter_by_source:
              value:
                source_id: 1
              summary: 'Фільтр за джерелом'
            filter_by_source_order_id:
              value:
                source_uuid: abc-123
              summary: 'Фільтр ідентифікатору замовлення з джерела'
            filter_by_phone:
              value:
                buyer_phone: '+1 555-234-1234, +1 555-234-1234'
              summary: 'Фільтр за телефоном покупця'
            filter_by_email:
              value:
                buyer_email: 'john.doe@example.com, john.doe@example.com'
              summary: 'Фільтр за email покупця'
            filter_by_date_created:
              value:
                created_between: '2020-08-24 00:00:00, 2020-09-22 23:59:59'
              summary: 'Фільтр за датою створення'
            filter_by_date_updated:
              value:
                updated_between: '2020-08-24 00:00:00, 2020-09-22 23:59:59'
              summary: 'Фільтр за датою оновлення'
            filter_by_date_shipping:
              value:
                shipping_between: '2020-08-24 00:00:00, 2020-09-22 23:59:59'
              summary: 'Фільтр за датою доставки'
            filter_by_payment_status:
              value:
                payment_status: 'paid,overpaid'
              summary: 'Фільтр за статусом оплати, допустимі значення: paid, overpaid, part_paid, not_paid'
            filter_by_tracking_status:
              value:
                has_tracking_code: true
              summary: 'Фільтр за станом трекінгу (доданий чи ні)'
            filter_combined:
              value:
                status_id: 1
                source_uuid: abc-123
                source_id: 1
                buyer_email: john.doe@example.com
                created_between: '2020-08-24,2020-09-22'
                has_tracking_code: true
              summary: 'Комбінований приклад'
      responses:
        200:
          description: 'Успішна відповідь. Результат у пагінованому вигляді. Значення ключа `id` з масиву можна використовувати для операцій `/order/{orderId}` як `orderId` параметр.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/OrderWithIncludes'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
    post:
      tags:
        - Order
      summary: 'Створення нового замовлення'
      description: 'Даний маршрут створює нове замовлення.'
      operationId: createNewOrder
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
      requestBody:
        description: "Приклад об'єкту запиту для створення нового замовлення"
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - source_id
                - buyer
              properties:
                source_id:
                  type: integer
                  description: "Ідентифікатор джерела. Обов'язкове поле"
                  example: 1
                source_uuid:
                  type: string
                  nullable: true
                  description: 'Номер замовлення у джерелі'
                  example: 115
                buyer_comment:
                  type: string
                  nullable: true
                  description: 'Коментар покупця'
                  example: 'I want this sentence to be my `buyer` comment on keyCRM'
                manager_id:
                  type: integer
                  example: 1
                  nullable: true
                  description: 'Ідентифікатор відповідального менеджера'
                manager_comment:
                  type: string
                  nullable: true
                  description: 'Коментар менеджера'
                  example: 'Handle till weekend'
                promocode:
                  type: string
                  example: MERRYCHRISTMAS
                  nullable: true
                  description: 'Промо код'
                discount_percent:
                  type: number
                  example: 11.5
                  nullable: true
                  description: 'Знижка на замовлення у %'
                discount_amount:
                  type: number
                  example: 9.99
                  nullable: true
                  description: 'Знижка на замовлення фіксована'
                shipping_price:
                  description: 'Вартість доставки'
                  type: number
                  nullable: true
                  example: 2.5
                wrap_price:
                  description: 'Вартість подарункової упаковки'
                  type: number
                  nullable: true
                  example: 3.5
                gift_message:
                  description: 'Привітальне повідомлення'
                  type: string
                  nullable: true
                  example: 'Вітаємо з ДР!'
                is_gift:
                  description: 'Ознака, що замовлення для подарунку'
                  type: boolean
                  example: true
                gift_wrap:
                  description: 'Ознака, що потрібна подарункова упаковка'
                  type: boolean
                  example: true
                taxes:
                  description: 'Сума податків'
                  type: number
                  nullable: true
                  example: 2.5
                ordered_at:
                  type: string
                  nullable: true
                  description: 'Дата і час замовлення. Якщо не передається, буде використаний поточний час'
                  example: '2021-12-21 14:44:00'
                buyer:
                  type: object
                  properties:
                    full_name:
                      type: string
                      nullable: true
                      example: 'John Doe'
                    email:
                      type: string
                      nullable: true
                      example: john.doe@mail.app
                    phone:
                      type: string
                      description: 'Телефон рекомендуємо передавати в міжнародному форматі з плюсом'
                      nullable: true
                      example: '+1 555-234-1234'
                shipping:
                  type: object
                  properties:
                    delivery_service_id:
                      type: integer
                      nullable: true
                      example: 1
                      description: 'ID служби доставки у keyCRM'
                    tracking_code:
                      type: string
                      nullable: true
                      example: '530005665555556'
                      description: 'Трек-номер відправлення служби доставки'
                    shipping_service:
                      type: string
                      nullable: true
                      example: 'Нова Пошта'
                      description: 'Назва служби доставки'
                    shipping_address_city:
                      type: string
                      nullable: true
                      example: Kyiv
                    shipping_address_country:
                      type: string
                      nullable: true
                      example: Ukraine
                    shipping_address_region:
                      type: string
                      nullable: true
                      example: Kyivska
                      description: 'Область, штат, регіон'
                    shipping_address_zip:
                      type: string
                      nullable: true
                      example: '50000'
                    shipping_secondary_line:
                      type: string
                    shipping_receive_point:
                      type: string
                      nullable: true
                      example: 'Склад #12'
                      description: 'Точка видачі замовлення'
                    recipient_full_name:
                      type: string
                      nullable: true
                      example: 'Ann Doe'
                      description: "Ім'я отримувача (якщо відрізняється від покупця)"
                    recipient_phone:
                      type: string
                      nullable: true
                      example: '+1 555-234-7777'
                      description: 'Номер телефону отримувача (якщо відрізняється від покупця). Рекомендуємо передавати в міжнародному форматі з плюсом'
                    warehouse_ref:
                      type: string
                      nullable: true
                      example: 1ec09d2e-e1c2-11e3-8c4a-0050568002cf
                      description: "UUID складу Нової Пошти (обов'язково з параметром delivery_service_id - ID служби доставки НП в СРМ)"
                    shipping_date:
                      type: string
                      nullable: true
                      description: 'Дата доставки / відправки'
                      example: '2023-12-21'
                marketing:
                  type: object
                  properties:
                    utm_source:
                      type: string
                      nullable: true
                      example: facebook
                      description: 'Джерело кампанії'
                    utm_medium:
                      type: string
                      nullable: true
                      example: banner
                      description: 'Тип трафіку'
                    utm_campaign:
                      type: string
                      nullable: true
                      example: sale
                      description: 'Назва кампанії'
                    utm_term:
                      type: string
                      nullable: true
                      example: 'landing page'
                      description: 'Ключове слово'
                    utm_content:
                      type: string
                      nullable: true
                      example: '-30%'
                      description: 'Ідентифікатор оголошення'
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      sku:
                        type: string
                        example: 001-242
                        description: 'Артикул товару'
                      price:
                        type: number
                        example: 124.5
                        description: 'Ціна товару за одиницю'
                      purchased_price:
                        type: number
                        example: 100
                        description: 'Ціна закупки товару за одиницю'
                      discount_percent:
                        type: number
                        example: 11.5
                        nullable: true
                        description: 'Знижка на товар у %'
                      discount_amount:
                        type: number
                        example: 9.99
                        nullable: true
                        description: 'Знижка на товар фіксована'
                      quantity:
                        type: number
                        example: 1
                        description: 'Кількість замовлених одиниць товару'
                      unit_type:
                        type: string
                        example: кг
                        description: 'Одиниці виміру товару'
                      name:
                        type: string
                        example: 'Iphone XS max 256gb'
                        description: 'Назва товару'
                      comment:
                        type: string
                        example: 'Наклеїти плівку'
                        description: 'Коментар до товару'
                      picture:
                        type: string
                        nullable: true
                        description: 'Посилання на зображеня товару'
                        example: 'https://i.etsystatic.com/22591342/r/il/52142a/2285383547/il_570xN.2285383547_h8a2.jpg'
                      properties:
                        required:
                          - name
                          - value
                        type: array
                        description: 'Атрибути товару. <br/> Важливо: Кожен атрибут мае включати в себе поля `name` і `value`. <br/> Атрибут без цих ключів буде ігноруватися '
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              example: Color
                            value:
                              type: string
                              example: Gold
                payments:
                  type: array
                  items:
                    type: object
                    required:
                      - amount
                    properties:
                      payment_method_id:
                        type: integer
                        example: 2
                        description: "ID методу платежу в keyCRM, обов'язковий параметр, якщо `payment_method` не заданий"
                      payment_method:
                        type: string
                        example: 'Apple Pay'
                        description: "Назва методу платежу, обов'язковий параметр, якщо `payment_method_id` не заданий"
                      amount:
                        type: number
                        example: 123.5
                        description: 'Сума платежу'
                      description:
                        type: string
                        example: 'Авансовий платіж'
                        nullable: true
                        description: 'Коментар до платежу'
                      payment_date:
                        type: string
                        nullable: true
                        example: '2021-02-21 14:44:00'
                        description: 'Дата і час платежу. Якщо не передається, буде використаний поточний час'
                      status:
                        type: string
                        nullable: true
                        example: not_paid
                        description: |2-
                           Допустимі значення:
                           - paid
                           - not_paid
                           - canceled
                           
                           
                custom_fields:
                  type: array
                  description: 'Користувацькі поля в замовленні'
                  items:
                    type: object
                    properties:
                      uuid:
                        description: 'Зовнішній ідентифікатор поля'
                        type: string
                        example: OR_1037
                      value:
                        description: 'Значення поля. Для полів з типом `select (список/мультисписок)` передавати масив рядків.'
                        type: string
                        example: Лорд
      responses:
        201:
          description: 'Успішна відповідь від сервера.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  /order/import:
    post:
      tags:
        - Order
      summary: 'Створення нових замовлень списком'
      description: 'Даний маршрут дозволяє створювати нові замовлення списком, до 50 шт. за один запит.'
      operationId: createNewOrderImport
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
      requestBody:
        description: 'Приклад запиту для створення нових заломлень списком.'
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orders
              properties:
                orders:
                  type: array
                  maximum: 50
                  items:
                    type: object
                    required:
                      - source_id
                      - buyer
                    properties:
                      source_id:
                        type: integer
                        description: "Ідентифікатор джерела. Обов'язкове поле"
                        example: 1
                      source_uuid:
                        type: string
                        nullable: true
                        description: 'Номер замовлення у джерелі'
                        example: 115
                      buyer_comment:
                        type: string
                        nullable: true
                        description: 'Коментар покупця'
                        example: 'I want this sentence to be my `buyer` comment on keyCRM'
                      manager_comment:
                        type: string
                        nullable: true
                        description: 'Коментар менеджера'
                        example: 'Handle till weekend'
                      promocode:
                        type: string
                        example: MERRYCHRISTMAS
                        nullable: true
                        description: 'Промо код'
                      discount_percent:
                        type: number
                        example: 11.5
                        nullable: true
                        description: 'Знижка на замовлення у %'
                      discount_amount:
                        type: number
                        example: 9.99
                        nullable: true
                        description: 'Знижка на замовлення фіксована'
                      shipping_price:
                        description: 'Вартість доставки'
                        type: number
                        nullable: true
                        example: 2.5
                      wrap_price:
                        description: 'Вартість подарункової упаковки'
                        type: number
                        nullable: true
                        example: 3.5
                      taxes:
                        description: 'Сума податків'
                        type: number
                        nullable: true
                        example: 2.5
                      ordered_at:
                        type: string
                        nullable: true
                        description: 'Дата і час замовлення. Якщо не передається, буде використаний поточний час'
                        example: '2021-12-21 14:44:00'
                      buyer:
                        type: object
                        properties:
                          full_name:
                            type: string
                            nullable: true
                            example: 'John Doe'
                          email:
                            type: string
                            nullable: true
                            example: john.doe@mail.app
                          phone:
                            type: string
                            description: 'Телефон рекомендуємо передавати в міжнародному форматі з плюсом'
                            nullable: true
                            example: '+1 555-234-1234'
                      shipping:
                        type: object
                        properties:
                          delivery_service_id:
                            type: integer
                            nullable: true
                            example: 1
                            description: 'ID служби доставки у keyCRM'
                          tracking_code:
                            type: string
                            nullable: true
                            example: '530005665555556'
                            description: 'Трек-номер відправлення служби доставки'
                          shipping_address_city:
                            type: string
                            nullable: true
                            example: Kyiv
                          shipping_address_country:
                            type: string
                            nullable: true
                            example: Ukraine
                          shipping_address_region:
                            type: string
                            nullable: true
                            example: Kyivska
                            description: 'Область, штат, регіон'
                          shipping_address_zip:
                            type: string
                            nullable: true
                            example: '50000'
                          shipping_secondary_line:
                            type: string
                          shipping_receive_point:
                            type: string
                            nullable: true
                            example: 'Склад #12'
                            description: 'Точка видачі замовлення'
                          recipient_full_name:
                            type: string
                            nullable: true
                            example: 'Ann Doe'
                            description: "Ім'я отримувача (якщо відрізняється від покупця)"
                          recipient_phone:
                            type: string
                            nullable: true
                            example: '+1 555-234-7777'
                            description: 'Номер телефону отримувача (якщо відрізняється від покупця). Рекомендуємо передавати в міжнародному форматі з плюсом.'
                          warehouse_ref:
                            type: string
                            nullable: true
                            example: 1ec09d2e-e1c2-11e3-8c4a-0050568002cf
                            description: "UUID складу Нової Пошти (обов'язково з параметром delivery_service_id - ID служби доставки НП в СРМ)"
                          shipping_date:
                            type: string
                            nullable: true
                            description: 'Дата доставки / відправки'
                            example: '2023-12-21'
                      marketing:
                        type: object
                        properties:
                          utm_source:
                            type: string
                            nullable: true
                            example: facebook
                            description: 'Джерело кампанії'
                          utm_medium:
                            type: string
                            nullable: true
                            example: banner
                            description: 'Тип трафіку'
                          utm_campaign:
                            type: string
                            nullable: true
                            example: sale
                            description: 'Назва кампанії'
                          utm_term:
                            type: string
                            nullable: true
                            example: 'landing page'
                            description: 'Ключове слово'
                          utm_content:
                            type: string
                            nullable: true
                            example: '-30%'
                            description: 'Ідентифікатор оголошення'
                      products:
                        type: array
                        description: 'Масив з товарами'
                        items:
                          type: object
                          properties:
                            sku:
                              type: string
                              example: 001-242
                              description: 'Артикул товару'
                            price:
                              type: number
                              example: 124.5
                              description: 'Ціна товару за одиницю'
                            purchased_price:
                              type: number
                              example: 100
                              description: 'Ціна закупки товару за одиницю'
                            discount_percent:
                              type: number
                              example: 11.5
                              nullable: true
                              description: 'Знижка на товар у %'
                            discount_amount:
                              type: number
                              example: 9.99
                              nullable: true
                              description: 'Знижка на товар фіксована'
                            quantity:
                              type: number
                              example: 1
                              description: 'Кількість замовлених одиниць товару'
                            unit_type:
                              type: string
                              example: кг
                              description: 'Одиниці виміру товару'
                            name:
                              type: string
                              example: 'Iphone XS max 256gb'
                              description: 'Назва товару'
                            comment:
                              type: string
                              example: 'Наклеїти плівку'
                              description: 'Коментар до товару'
                            picture:
                              type: string
                              nullable: true
                              description: 'Посилання на зображеня товару'
                              example: 'https://i.etsystatic.com/22591342/r/il/52142a/2285383547/il_570xN.2285383547_h8a2.jpg'
                            properties:
                              required:
                                - name
                                - value
                              type: array
                              description: 'Атрибути товару. <br/> Важливо: Кожен атрибут мае включати в себе поля `name` і `value`. <br/> Атрибут без цих ключів буде ігноруватися '
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    example: Color
                                  value:
                                    type: string
                                    example: Gold
                      payments:
                        type: array
                        description: 'Масив з платежами'
                        items:
                          type: object
                          required:
                            - amount
                          properties:
                            payment_method_id:
                              type: integer
                              example: 2
                              description: "ID методу платежу в keyCRM, обов'язковий параметр, якщо `payment_method` не заданий"
                            payment_method:
                              type: string
                              example: 'Apple Pay'
                              description: "Назва методу платежу, обов'язковий параметр, якщо `payment_method_id` не заданий"
                            amount:
                              type: number
                              example: 123.5
                              description: 'Сума платежу'
                            description:
                              type: string
                              example: 'Авансовий платіж'
                              nullable: true
                              description: 'Коментар до платежу'
                            payment_date:
                              type: string
                              nullable: true
                              example: '2021-02-21 14:44:00'
                              description: 'Дата і час платежу. Якщо не передається, буде використаний поточний час'
                            status:
                              type: string
                              nullable: true
                              example: not_paid
                              description: |2-
                                 Допустимі значення:
                                 - paid
                                 - not_paid
                                 - canceled

                                 
                      custom_fields:
                        type: array
                        description: 'Користувацькі поля в замовленні'
                        items:
                          type: object
                          properties:
                            uuid:
                              description: 'Зовнішній ідентифікатор поля'
                              type: string
                              example: OR_1037
                            value:
                              description: 'Значення поля. Для полів з типом `select (список/мультисписок)` передавати масив рядків.'
                              type: string
                              example: Лорд
      responses:
        201:
          description: 'Успішна відповідь від сервера.'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  '/order/{orderId}':
    get:
      tags:
        - Order
      summary: 'Отримання сутності замовлення за ідентифікатором'
      operationId: getOrderById
      parameters:
        -
          name: orderId
          in: path
          description: 'Ідентифікатор замовлення'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        -
          $ref: '#/components/parameters/acceptParam'
        -
          name: include
          in: query
          description: 'Підключення додаткових асоціацій, розділені комами. Приклад: <strong>buyer,status,tags</strong> <br/><br/> Допустимі асоціації `buyer`, `products.offer`, `manager`, `tags`, `status`, `marketing`,  `payments`, `shipping.lastHistory`, `shipping.deliveryService`, `expenses`, `custom_fields`, `assigned`'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        200:
          description: 'Успішна відповідь від сервера.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderWithIncludes'
        401:
          description: 'Помилка авторизації.'
        404:
          description: 'Замовлення не знайдено.'
      security:
        -
          bearerAuth: {  }
    put:
      tags:
        - Order
      summary: 'Оновлення існуючого замовлення'
      parameters:
        -
          name: orderId
          in: path
          required: true
          description: 'Ідентифікатор замовлення'
          schema:
            type: string
        -
          $ref: '#/components/parameters/acceptParam'
      description: 'Даний маршрут оновлює існуюче замовлення. Зверніть увагу, що можна тільки оновити уже доданий в замовлення товар, а не додати новий. Також, якщо в замовленні вже є трекінг-код, то при повторному додаванні буде помилка.'
      operationId: updateExistingOrder
      requestBody:
        description: "Приклад об'єкту запиту для оновлення існуючого замовлення"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                buyer_comment:
                  type: string
                  nullable: true
                  description: 'Коментар покупця'
                  example: 'I want this sentence to be my `buyer` comment on keyCRM'
                manager_comment:
                  type: string
                  nullable: true
                  description: 'Коментар менеджера'
                  example: 'Handle till weekend'
                status_id:
                  type: integer
                  example: 1
                  description: 'Ідентифікатор статусу замовлення'
                discount_percent:
                  type: number
                  example: 11.5
                  nullable: true
                  description: 'Знижка на замовлення у %'
                discount_amount:
                  type: number
                  example: 9.99
                  nullable: true
                  description: 'Знижка на замовлення фіксована'
                products:
                  type: array
                  description: 'Масив товарів. Нові товари в замовлення не додаються, тільки оновлюються існуючі'
                  items:
                    type: object
                    properties:
                      sku:
                        type: string
                        example: 001-242
                        description: 'Артикул товару. Не оновлюється, використовується лише для ідентифікації товару'
                      id:
                        type: integer
                        example: 124
                        description: 'Ідентифікатор товару в замовленні. Не оновлюється, використовується лише для ідентифікації товару'
                      name:
                        type: string
                        example: 'Iphone XS max 256gb'
                        description: 'Назва товару. Оновлюється лише для «разових» товарів (ті, що існують в рамках конкретного замовлення, але в каталозі їх немає)'
                      comment:
                        type: string
                        example: 'Наклеїти плівку'
                        description: 'Коментар до товару. Оновлюється завжди, замінюючи попередній'
                      price:
                        type: number
                        example: 11.99
                        description: 'Вартість товару'
                      purchased_price:
                        type: number
                        example: 9.99
                        description: 'Закупівельна вартість товару'
                      discount_amount:
                        type: number
                        example: 9.99
                        nullable: true
                        description: 'Знижка на товар фіксована'
                      discount_percent:
                        type: number
                        example: 11.5
                        nullable: true
                        description: 'Знижка на товар у %'
                      quantity:
                        type: number
                        example: 1
                        description: 'Кількість одиниць товару'
                      product_status_id:
                        type: integer
                        example: 2
                        description: 'ID статусу товару в замовленні'
                shipping:
                  type: object
                  properties:
                    delivery_service_id:
                      type: integer
                      nullable: true
                      example: 1
                      description: 'ID служби доставки у keyCRM'
                    tracking_code:
                      type: string
                      nullable: true
                      example: '530005665555556'
                      description: 'Трек-номер відправлення служби доставки'
                    shipping_address_city:
                      type: string
                      nullable: true
                      example: Kyiv
                    shipping_address_country:
                      type: string
                      nullable: true
                      example: Ukraine
                    shipping_address_region:
                      type: string
                      nullable: true
                      example: Kyivska
                      description: 'Область, штат, регіон'
                    shipping_address_zip:
                      type: string
                      nullable: true
                      example: '50000'
                    shipping_receive_point:
                      type: string
                      nullable: true
                      example: 'Склад #12'
                      description: 'Точка видачі замовлення'
                    shipping_secondary_line:
                      type: string
                      nullable: true
                    recipient_full_name:
                      type: string
                      nullable: true
                      example: 'Ann Doe'
                      description: "Ім'я отримувача (якщо відрізняється від покупця)"
                    recipient_phone:
                      type: string
                      nullable: true
                      example: '+1 555-234-7777'
                      description: 'Номер телефону отримувача (якщо відрізняється від покупця)'
                    warehouse_ref:
                      type: string
                      nullable: true
                      example: 1ec09d2e-e1c2-11e3-8c4a-0050568002cf
                      description: "UUID складу Нової Пошти (обов'язково з параметром delivery_service_id - ID служби доставки НП в СРМ)"
                    shipping_date:
                      type: string
                      nullable: true
                      description: 'Дата доставки / відправки'
                      example: '2023-12-21'
                custom_fields:
                  type: array
                  description: 'Користувацькі поля в замовленні'
                  items:
                    type: object
                    properties:
                      uuid:
                        description: 'Зовнішній ідентифікатор поля'
                        type: string
                        example: OR_1037
                      value:
                        description: 'Значення поля. Для полів з типом `select (список/мультисписок)` передавати масив рядків.'
                        type: string
                        example: Лорд
      responses:
        202:
          description: 'Успішна відповідь від сервера.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  '/order/{orderId}/payment':
    post:
      tags:
        - Order
      summary: 'Додавання нової оплати для існуючого замовлення'
      description: 'Даний маршрут створює нову оплату для замовлення.'
      parameters:
        -
          name: orderId
          in: path
          description: 'Ідентифікатор замовлення'
          required: true
          schema:
            type: string
        -
          $ref: '#/components/parameters/acceptParam'
      operationId: createNewOrderPayment
      requestBody:
        description: "Приклад об'єкту запиту для створення нової оплати"
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                payment_method_id:
                  type: integer
                  example: 2
                  description: "ID методу платежу в keyCRM, обов'язковий параметр, якщо `payment_method` не заданий"
                payment_method:
                  type: string
                  example: 'Apple Pay'
                  description: "Назва методу платежу, обов'язковий параметр, якщо `payment_method_id` не заданий"
                amount:
                  type: number
                  example: 123.5
                  description: 'Сума платежу'
                status:
                  type: string
                  default: paid
                  enum:
                    - paid
                    - not_paid
                    - canceled
                  example: paid
                  nullable: true
                  description: 'Статус оплати'
                description:
                  type: string
                  example: 'Авансовий платіж'
                  nullable: true
                  description: 'Коментар до платежу'
                payment_date:
                  type: string
                  nullable: true
                  example: '2021-02-21 14:44:00'
                  description: 'Дата і час платежу. Якщо не передається, буде використаний поточний час'
      responses:
        201:
          description: 'Успішна відповідь від сервера.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  '/order/{orderId}/expense':
    post:
      tags:
        - Order
      summary: 'Додавання нової витрати для існуючого замовлення'
      description: 'Даний маршрут створює нову витрату для замовлення.'
      parameters:
        -
          name: orderId
          in: path
          description: 'Ідентифікатор замовлення'
          required: true
          schema:
            type: string
        -
          $ref: '#/components/parameters/acceptParam'
      operationId: createNewOrderExpense
      requestBody:
        description: "Приклад об'єкту запиту для створення нової витрати"
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                expense_type_id:
                  type: integer
                  example: 2
                  description: "ID типу витрати в keyCRM, обов'язковий параметр, якщо `expense_type` не заданий"
                expense_type:
                  type: string
                  example: Пакування
                  description: "Назва типу витрати, обов'язковий параметр, якщо `expense_type_id` не заданий"
                amount:
                  type: number
                  example: 123.5
                  description: 'Сума витрати'
                description:
                  type: string
                  example: 'Комісія за пакування'
                  nullable: true
                  description: 'Коментар до витрати'
                payment_date:
                  type: string
                  nullable: true
                  example: '2021-02-21 14:44:00'
                  description: 'Дата і час витрати. Якщо не передається, буде використаний поточний час'
      responses:
        201:
          description: 'Успішна відповідь від сервера.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  '/order/{orderId}/payment/{paymentId}':
    put:
      tags:
        - Order
      summary: 'Оновлення оплати для існуючого замовлення'
      description: 'Даний маршрут оновлює оплату існуючого замовлення.'
      operationId: updateExistingOrderPayment
      parameters:
        -
          name: orderId
          in: path
          description: 'Ідентифікатор замовлення'
          required: true
          schema:
            type: string
        -
          name: paymentId
          in: path
          description: 'Ідентифікатор оплати'
          required: true
          schema:
            type: string
        -
          $ref: '#/components/parameters/acceptParam'
      requestBody:
        description: "Приклад об'єкту запиту для оновлення оплати"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - paid
                    - not_paid
                    - canceled
                  example: paid
                  nullable: true
                  description: 'Статус оплати'
                description:
                  type: string
                  example: 'Авансовий платіж'
                  nullable: true
                  description: 'Коментар до платежу'
      responses:
        202:
          description: 'Успішна відповідь від сервера.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  '/order/{orderId}/expense/{expenseId}':
    put:
      tags:
        - Order
      summary: 'Оновлення витрати для існуючого замовлення'
      description: 'Даний маршрут оновлює витрату існуючого замовлення.'
      operationId: updateExistingOrderExpense
      parameters:
        -
          name: orderId
          in: path
          description: 'Ідентифікатор замовлення'
          required: true
          schema:
            type: string
        -
          name: expenseId
          in: path
          description: 'Ідентифікатор витрати'
          required: true
          schema:
            type: string
        -
          $ref: '#/components/parameters/acceptParam'
      requestBody:
        description: "Приклад об'єкту запиту для оновлення витрати"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - canceled
                  example: canceled
                  nullable: true
                  description: 'Статус витрати'
                description:
                  type: string
                  example: 'Повернення завдатку'
                  nullable: true
                  description: 'Коментар до витрати'
      responses:
        202:
          description: 'Успішна відповідь від сервера.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  '/order/{orderId}/tag/{tagId}':
    post:
      tags:
        - Order
      summary: 'Додавання тегу для існуючого замовлення'
      description: 'Даний маршрут додає тег до існуючого замовлення.'
      operationId: attachTagToOrder
      parameters:
        -
          name: orderId
          in: path
          description: 'Ідентифікатор замовлення'
          required: true
          schema:
            type: string
        -
          name: tagId
          in: path
          description: 'Ідентифікатор тегу'
          required: true
          schema:
            type: string
        -
          $ref: '#/components/parameters/acceptParam'
      responses:
        202:
          description: 'Успішна відповідь'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
    delete:
      tags:
        - Order
      summary: 'Видалення тегу з існуючого замовлення'
      description: 'Даний маршрут видаляє тег із існуючого замовлення.'
      operationId: deleteTagFromOrder
      parameters:
        -
          name: orderId
          in: path
          description: 'Ідентифікатор замовлення'
          required: true
          schema:
            type: string
        -
          name: tagId
          in: path
          description: 'Ідентифікатор тегу'
          required: true
          schema:
            type: string
        -
          $ref: '#/components/parameters/acceptParam'
      responses:
        204:
          description: 'Успішна відповідь'
        400:
          description: 'Помилка запиту.'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  '/order/{orderId}/attachment/{fileId}':
    post:
      tags:
        - Order
      summary: 'Додавання файлу для існуючого замовлення'
      description: 'Даний маршрут додає файл до існуючого замовлення.'
      operationId: attachFileToOrder
      parameters:
        -
          name: orderId
          in: path
          description: 'Ідентифікатор замовлення'
          required: true
          schema:
            type: string
        -
          name: fileId
          in: path
          description: 'Ідентифікатор файлу'
          required: true
          schema:
            type: string
        -
          $ref: '#/components/parameters/acceptParam'
      responses:
        202:
          description: 'Успішна відповідь'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
    delete:
      tags:
        - Order
      summary: 'Видалення файлу із існуючого замовлення'
      description: 'Даний маршрут видаляє файл із існуючого замовлення.'
      operationId: deleteFileFromOrder
      parameters:
        -
          name: orderId
          in: path
          description: 'Ідентифікатор замовлення'
          required: true
          schema:
            type: string
        -
          name: fileId
          in: path
          description: 'Ідентифікатор файлу'
          required: true
          schema:
            type: string
        -
          $ref: '#/components/parameters/acceptParam'
      responses:
        201:
          description: 'Успішна відповідь'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
        400:
          description: 'Помилка запиту.'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  /order/tag:
    get:
      tags:
        - Order
      summary: 'Отримання списку тегів'
      description: 'Даний маршрут повертає список створених тегів.'
      operationId: getPaginatedListOfTags
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
        -
          name: sort
          in: query
          description: 'Сортування списку замовлень'
          required: false
          style: form
          explode: true
          schema:
            type: string
          examples:
            'Сортування за зростанням':
              value: id
            'Сортування за зменшенням':
              value: '-id'
      responses:
        200:
          description: 'Успішна відповідь. Результат в пагінованому вигляді.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Tag'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  /order/source:
    get:
      tags:
        - Order
      summary: 'Отримання списку джерел'
      description: 'Даний маршрут повертає список створених джерел замовлень.'
      operationId: getPaginatedListOfSources
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
        -
          name: sort
          in: query
          description: 'Сортування списку замовлень'
          required: false
          style: form
          explode: true
          schema:
            type: string
          examples:
            'Сортування за зростанням':
              value: id
            'Сортування за зменшенням':
              value: '-id'
      responses:
        200:
          description: 'Успішна відповідь. Результат у пагінованому вигляді.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Source'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  /order/status:
    get:
      tags:
        - Order
      summary: 'Отримання списку статусів'
      description: 'Даний маршрут повертає список активних статусів замовлень.'
      operationId: getPaginatedListOfStatuses
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
        -
          name: sort
          in: query
          description: 'Сортування списку статусів'
          required: false
          style: form
          explode: true
          schema:
            type: string
          examples:
            'Сортування за зростанням':
              value: id
            'Сортування за зменшенням':
              value: '-id'
      responses:
        200:
          description: 'Успішна відповідь. Результат у пагінованому вигляді.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Status'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  /order/payment-method:
    get:
      tags:
        - Order
      summary: 'Отримання списку платіжних методів'
      description: 'Даний маршрут повертає список платіжних методів.'
      operationId: getPaginatedListOfPaymentMethods
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
        -
          name: sort
          in: query
          description: 'Сортування списку методів'
          required: false
          style: form
          explode: true
          schema:
            type: string
          examples:
            'Сортування за зростанням':
              value: id
            'Сортування за зменшенням':
              value: '-id'
      responses:
        200:
          description: 'Успішна відповідь. Результат у пагінованому вигляді.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PaymentMethod'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  /order/expense-type:
    get:
      tags:
        - Order
      summary: 'Отримання списку типів витрат'
      description: 'Даний маршрут повертає список типів витрат.'
      operationId: getPaginatedListOfExpenseTypes
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
        -
          name: sort
          in: query
          description: 'Сортування списку типів витрат'
          required: false
          style: form
          explode: true
          schema:
            type: string
          examples:
            'Сортування за зростанням':
              value: id
            'Сортування за зменшенням':
              value: '-id'
      responses:
        200:
          description: 'Успішна відповідь. Результат у пагінованому вигляді.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ExpenseType'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  /order/delivery-service:
    get:
      tags:
        - Order
      summary: 'Отримання списку доступних методів доставки'
      description: 'Даний маршрут повертає список доступних методів доставки.'
      operationId: getPaginatedListOfDeliveryServices
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
        -
          name: sort
          in: query
          description: 'Сортування списку методів'
          required: false
          style: form
          explode: true
          schema:
            type: string
          examples:
            'Сортування за зростанням':
              value: id
            'Сортування за зменшенням':
              value: '-id'
      responses:
        200:
          description: 'Успішна відповідь. Результат у пагінованому вигляді.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DeliveryService'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  /order/product-status:
    get:
      tags:
        - Order
      summary: 'Отримання списку статусів товарів'
      description: 'Даний маршрут повертає список активних статусів товарів.'
      operationId: getPaginatedListOfProductStatuses
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
        -
          name: sort
          in: query
          description: 'Сортування списку статусів товарів'
          required: false
          style: form
          explode: true
          schema:
            type: string
          examples:
            'Сортування за зростанням':
              value: id
            'Сортування за зменшенням':
              value: '-id'
      responses:
        200:
          description: 'Успішна відповідь. Результат у пагінованому вигляді.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Status'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  /storage:
    get:
      tags:
        - Storage
      summary: 'Отримання списку завантажених файлів'
      description: 'Даний маршрут повертає список файлів.'
      operationId: getPaginatedListOfFiles
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
        -
          name: sort
          in: query
          description: 'Сортування списку файлів'
          required: false
          style: form
          explode: true
          schema:
            type: string
          examples:
            'Сортування за зростанням':
              value: size
            'Сортування за зменшенням':
              value: '-size'
      responses:
        200:
          description: 'Успішна відповідь. Результат у пагінованому вигляді.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/File'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  '/storage/attachment/{entityType}/{entityId}':
    get:
      tags:
        - Storage
      summary: 'Отримання списку файлів по сутності'
      description: 'Даний маршрут повертає список файлів по сутності.'
      operationId: getEntityListOfFiles
      parameters:
        -
          name: entityType
          in: path
          description: 'Тип сутності, по якій потрібно отримати файли. Можливі значення: `order` (замовлення) або `pipelines` (картка у воронках).'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        -
          name: entityId
          in: path
          description: 'Ідентифікатор сутності в системі'
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        200:
          description: 'Успішна відповідь.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/File'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  /storage/upload:
    post:
      tags:
        - Storage
      summary: 'Завантаження файла'
      description: 'Даний маршрут завантажує файл на сервер і створює новий запис у файловій системі.'
      operationId: uploadStorageFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  description: 'Обраний файл для завантаження'
                  type: string
                  format: binary
      responses:
        200:
          description: 'Файл, що завантажується, вже існує.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        201:
          description: 'Файл успішно завантажений.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
        401:
          description: 'Помилка авторизації.'
        413:
          description: 'Розмір файлу, що завантажується, перевищує допустимий розмір (10MB)'
      security:
        -
          bearerAuth: {  }
  /custom-fields:
    get:
      tags:
        - 'Custom Fields'
      summary: 'Отримання списку користувацьких полів'
      description: 'Даний маршрут дозволяє отримати список всіх користувацьких полів. Якщо потрібно отримати опції списочних полів, то вкажіть параметр `include=options`.'
      operationId: getListOfCustomFields
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          name: include
          in: query
          description: 'Підключення додаткових асоціацій<br/><br/> Допустимі асоціації: `options`(опції списочних полів)'
          required: false
          style: form
          explode: true
          schema:
            type: string
        -
          name: sort
          in: query
          description: 'Сортування списку користувацьких полів'
          required: false
          style: form
          explode: true
          schema:
            type: string
          examples:
            sort_asc:
              value: position
              summary: 'Сортування за зростанням'
            sort_desc:
              value: '-position'
              summary: 'Сортування за зменшенням'
        -
          name: filter
          in: query
          description: 'Фільтрація списку користувацьких полів'
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
          examples:
            filter_by_model:
              value:
                model: 'lead,order,client,crm_product'
              summary: 'Фільтр за сутностями'
      responses:
        200:
          description: 'Успішна відповідь для запиту з параметром `include=options`'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomField'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  /offers:
    get:
      tags:
        - Offer
      summary: 'Отримання варіантів товарів'
      description: 'Даний маршрут дозволяє отримати список варіантів товарів. Якщо потрібно отримати інформацію про товар, якому належить варіант, то вкажіть параметр `include=product`.'
      operationId: getPaginatedListOfOffers
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
        -
          name: include
          in: query
          description: ' Підключення додаткових асоціацій<br/><br/> Допустимі асоціації `product` '
          required: false
          style: form
          explode: true
          schema:
            type: string
        -
          name: sort
          in: query
          description: 'Сортування списку вариантів товарів'
          required: false
          style: form
          explode: true
          schema:
            type: string
          examples:
            sort_asc:
              value: id
              summary: 'Сортування за зростанням'
            sort_desc:
              value: '-id'
              summary: 'Сортування за зменшенням'
        -
          name: filter
          in: query
          description: 'Фільтрація списку вариантів товарів'
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
          examples:
            filter_by_id:
              value:
                id: '1,2'
              summary: 'Фільтр за ідентифікатором варіанту товару'
            filter_by_product_id:
              value:
                product_id: '1,2'
              summary: 'Фільтр за ідентифікатором товару в каталозі keyCRM'
            filter_by_sku:
              value:
                sku: 'sku1,sku2'
              summary: 'Фільтр по артикулу'
            filter_by_is_archived:
              value:
                is_archived: true
              summary: 'Фільтр за статусом архівації варіанту товару, допустимі значення: true, false'
      responses:
        200:
          description: 'Успішна відповідь для запиту з параметром `include=product`. Результат у пагінованому вигляді.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Offer'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
    put:
      tags:
        - Offer
      summary: 'Редагування варіантів товару'
      description: 'Даний маршрут дозволяє змінити параметри вартості, закупівельної вартості, ваги і габаритів варіанту товару.'
      operationId: offersUpdate
      requestBody:
        description: "Приклад об'єкту запиту для зміни варіантів. Для кожного з товарів у масиві обов'язково має бути вказано один з параметрів, id або sku."
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - offers
              properties:
                offers:
                  type: array
                  maximum: 10000
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                        description: 'ID варіанту товару у keyCRM'
                      sku:
                        type: string
                        example: 001-242
                        description: 'Артикул варіанту товару'
                      price:
                        type: number
                        example: 11.99
                        description: 'Вартість варіанту товару'
                      purchased_price:
                        type: number
                        example: 9.99
                        description: 'Закупівельна вартість варіанту товару'
                      weight:
                        type: number
                        example: 0.2
                        description: 'Вага варіанту товару в одиницях налаштувань у keyCRM'
                      height:
                        type: number
                        example: 10.0
                        description: 'Висота варіанту товару в одиницях налаштувань у keyCRM'
                      image_url:
                        type: string
                        example: 'https://example.com/image.jpg'
                        description: 'Посилання на зображення варіанту товару'
                      length:
                        type: number
                        example: 15.0
                        description: 'Довжина варіанту товару в одиницях налаштувань у keyCRM'
                      width:
                        type: number
                        example: 5.0
                        description: 'Ширина варіанту товару в одиницях налаштувань у keyCRM'
      responses:
        202:
          description: 'Успішна відповідь'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
        401:
          description: 'Помилка авторизації.'
        422:
          description: 'Помилка валідації.'
      security:
        -
          bearerAuth: {  }
  /offers/stocks:
    get:
      tags:
        - Offer
      summary: 'Отримання списку залишків'
      description: 'Даний маршрут повертає список залишків.'
      operationId: getPaginatedListOfStocks
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
        -
          name: filter
          in: query
          description: 'Фільтрація списку залишків'
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
          examples:
            filter_by_offers_id:
              value:
                offers_id: '4545,4546'
              summary: 'Фільтр за ідентифікатором варіанту товару, допустимі значення: 1, 10, 4546, ...'
            filter_by_offers_sku:
              value:
                offers_sku: 'sku001,sku002'
              summary: 'Фільтр за sku варіанту товару, допустимі значення: sku001, sku002, ...'
            filter_by_details:
              value:
                details: true
              summary: 'Отримувати залишки по кожному складу окремо'
            filter_combined:
              value:
                offers_id: 1
                offers_sku: sku001
                details: true
              summary: 'Комбінований приклад'
      responses:
        200:
          description: 'Успішна відповідь для запиту з параметром `filter[details]=true`. Результат у пагінованому вигляді.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/OfferStocks'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
    put:
      tags:
        - Offer
      summary: 'Оновлення залишків товару на складі'
      description: 'Створює запис руху товарів для приведення залишків на складі до потрібної кількості.'
      operationId: offersStocksUpdate
      requestBody:
        description: "Приклад об'єкту запиту для зміни залишків на складі. Для кожного із товарів у масиві обов'язково має бути вказаний один із параметрів, offer_id або sku"
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - warehouse_id
                - stocks
              properties:
                warehouse_id:
                  type: integer
                  description: "Ідентифікатор складу. Обов'язкове поле"
                  example: 1
                stocks:
                  type: array
                  maximum: 10000
                  items:
                    type: object
                    required:
                      - quantity
                    properties:
                      id:
                        type: integer
                        example: 1
                        description: 'ID варіанту товару у keyCRM'
                      sku:
                        type: string
                        example: 001-242
                        description: 'Артикул товару'
                      quantity:
                        type: number
                        example: 1
                        description: 'Кількість одиниць на складі'
      responses:
        202:
          description: 'Успішна відповідь'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
        401:
          description: 'Помилка авторизації.'
        422:
          description: 'Помилка валідації.'
      security:
        -
          bearerAuth: {  }
  /pipelines:
    get:
      tags:
        - Pipelines
      summary: 'Отримання списку воронок'
      description: 'Даний маршрут повертає список воронок.'
      operationId: getPaginatedListOfPipelines
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
      responses:
        200:
          description: 'Успішна відповідь. Результат у пагінованому вигляді.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Pipeline'
        400:
          description: 'Розділ воронок вимкнено в налаштуваннях CRM.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Leads are not enabled'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  '/pipelines/{pipelineId}/statuses':
    get:
      tags:
        - Pipelines
      summary: 'Отримання статусів воронки'
      description: 'Даний маршрут повертає список статусів воронки.'
      operationId: getPaginatedListOfPipelinesStatuses
      parameters:
        -
          name: pipelineId
          in: path
          description: 'Ідентифікатор воронки'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
      responses:
        200:
          description: 'Успішна відповідь. Результат у пагінованому вигляді.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PipelineStatuses'
        400:
          description: 'Розділ воронок вимкнено в налаштуваннях CRM.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Leads are not enabled'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
  /pipelines/cards:
    get:
      tags:
        - Pipelines
      summary: 'Отримання списку карток воронок'
      description: 'Даний маршрут повертає список карток воронок.'
      operationId: getPaginatedListOfPipelinesCards
      parameters:
        -
          $ref: '#/components/parameters/acceptParam'
        -
          $ref: '#/components/parameters/limitParam'
        -
          $ref: '#/components/parameters/pageParam'
        -
          name: include
          in: query
          description: 'Підключення додаткових асоціацій, розділені комами. Приклад: <strong>contact,products.offer,manager</strong> <br/><br/> Допустимі асоціації `contact.client`, `products`, `manager`, `status`, `payments`,  `custom_fields`'
          required: false
          style: form
          explode: true
          schema:
            type: string
        -
          name: filter
          in: query
          description: 'Фільтрація списку карток воронок'
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
          examples:
            filter_by_pipeline:
              value:
                pipeline_id: 1
              summary: 'Фільтр по воронках'
            filter_by_status:
              value:
                status_id: 1
              summary: 'Фільтр за статусом'
            filter_by_source:
              value:
                source_id: 1
              summary: 'Фільтр за джерелом'
            filter_by_date_created:
              value:
                created_between: '2020-08-24 00:00:00, 2020-09-22 23:59:59'
              summary: 'Фільтр за датою створення'
            filter_by_date_updated:
              value:
                updated_between: '2020-08-24 00:00:00, 2020-09-22 23:59:59'
              summary: 'Фільтр за датою оновлення'
      responses:
        200:
          description: 'Успішна відповідь. Результат у пагінованому вигляді. Значення ключа `id` з масиву можна використовувати для операцій `/pipelines/cards/{cardId}` як `cardId` параметр.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PipelineCardWithIncludes'
        400:
          description: 'Розділ воронок вимкнено в налаштуваннях CRM.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Leads are not enabled'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
    post:
      tags:
        - Pipelines
      summary: 'Створення нової картки у воронці'
      description: 'Даний маршрут створює нову картку у воронці.'
      operationId: createNewPipelineCard
      requestBody:
        description: "Приклад об'єкту запиту для створення нової картки у воронці"
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contact
              properties:
                title:
                  description: 'Назва картки. При відсутності параметра буде використано ID створеної картки'
                  type: string
                  nullable: true
                  example: №11011
                source_id:
                  type: integer
                  nullable: true
                  description: 'Ідентифікатор джерела.'
                  example: 1
                manager_comment:
                  type: string
                  nullable: true
                  description: 'Коментар менеджера'
                  example: 'Handle till weekend'
                manager_id:
                  type: integer
                  example: 1
                  nullable: true
                  description: 'Ідентифікатор відповідального менеджера'
                pipeline_id:
                  type: integer
                  example: 1
                  nullable: true
                  description: 'Ідентифікатор воронки (при відсутності параметра буде використана перша воронка у списку)'
                communicate_at:
                  type: string
                  nullable: true
                  example: '2021-02-21 14:44:00'
                  description: 'Дата і час наступного контакту'
                contact:
                  type: object
                  properties:
                    full_name:
                      type: string
                      nullable: true
                      example: 'John Doe'
                    email:
                      type: string
                      nullable: true
                      example: john.doe@mail.app
                    phone:
                      type: string
                      description: 'Телефон рекомендуємо передавати в міжнародному форматі з плюсом'
                      nullable: true
                      example: '+1 555-234-1234'
                    client_id:
                      description: 'Ідентифікатор існуючого покупця. Якщо він є в системі, то картка буде створена на нього. Решта параметрів буде проігнорована.'
                      type: integer
                      example: 1
                      nullable: true
                utm_source:
                  type: string
                  nullable: true
                  example: facebook
                  description: 'Джерело кампанії'
                utm_medium:
                  type: string
                  nullable: true
                  example: banner
                  description: 'Тип трафіку'
                utm_campaign:
                  type: string
                  nullable: true
                  example: sale
                  description: 'Назва кампанії'
                utm_term:
                  type: string
                  nullable: true
                  example: 'landing page'
                  description: 'Ключове слово'
                utm_content:
                  type: string
                  nullable: true
                  example: '-30%'
                  description: 'Ідентифікатор оголошення'
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      sku:
                        type: string
                        example: 001-242
                        description: 'Артикул товару'
                      price:
                        type: number
                        example: 124.5
                        description: 'Ціна товару за одиницю'
                      quantity:
                        type: number
                        example: 1
                        description: 'Кількість замовлених одиниць товару'
                      unit_type:
                        type: string
                        example: кг
                        description: 'Одиниці виміру товару'
                      name:
                        type: string
                        example: 'Iphone XS max 256gb'
                        description: 'Назва товару'
                      picture:
                        type: string
                        nullable: true
                        description: 'Посилання на зображеня товару'
                        example: 'https://site.com/22591342/r/il/52142a/2285383547/il_570xN.2285383547_h8a2.jpg'
                payments:
                  type: array
                  description: 'Масив з платежами'
                  items:
                    type: object
                    required:
                      - amount
                    properties:
                      payment_method_id:
                        type: integer
                        example: 2
                        description: "ID методу платежу в keyCRM, обов'язковий параметр, якщо `payment_method` не заданий"
                      payment_method:
                        type: string
                        example: 'Apple Pay'
                        description: "Назва методу платежу, обов'язковий параметр, якщо `payment_method_id` не заданий"
                      amount:
                        type: number
                        example: 123.5
                        description: 'Сума платежу'
                      description:
                        type: string
                        example: 'Авансовий платіж'
                        nullable: true
                        description: 'Коментар до платежу'
                      payment_date:
                        type: string
                        nullable: true
                        example: '2021-02-21 14:44:00'
                        description: 'Дата і час платежу. Якщо не передається, буде використаний поточний час'
                      status:
                        type: string
                        nullable: true
                        example: not_paid
                        description: |2-
                           Допустимі значення:
                           - paid
                           - not_paid
                           - canceled
                           
                           
                custom_fields:
                  type: array
                  description: 'Користувацькі поля у картці воронки'
                  items:
                    type: object
                    properties:
                      uuid:
                        description: 'Зовнішній ідентифікатор поля'
                        type: string
                        example: LD_1021
                      value:
                        description: 'Значення поля. Для полів з типом `select (список/мультисписок)` передавати масив рядків.'
                        type: string
                        example: Лорд
      responses:
        201:
          description: 'Успішна відповідь від сервера.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineCard'
        400:
          description: 'Розділ воронок вимкнено в налаштуваннях CRM.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Leads are not enabled'
        401:
          description: 'Помилка авторизації.'
        403:
          description: 'Помилкові аргументи або воронки не активовані.'
      security:
        -
          bearerAuth: {  }
  '/pipelines/cards/{cardId}':
    get:
      tags:
        - Pipelines
      summary: 'Отримання картки воронки'
      description: 'Даний маршрут повертає картку воронки.'
      operationId: getPipelinesCard
      parameters:
        -
          name: cardId
          in: path
          description: 'Ідентифікатор картки у воронці'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        -
          $ref: '#/components/parameters/acceptParam'
        -
          name: include
          in: query
          description: 'Підключення додаткових асоціацій, розділені комами. Приклад: <strong>contact,products.offer,manager</strong> <br/><br/> Допустимі асоціації `contact.client`, `products`, `manager`, `status`, `payments`,  `custom_fields`'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        200:
          description: 'Успішна відповідь.'
          content:
            application/json:
              schema:
                type: object
                allOf:
                  -
                    $ref: '#/components/schemas/PaginatedResponse'
                  -
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PipelineCardWithIncludes'
        400:
          description: 'Розділ воронок вимкнено в налаштуваннях CRM.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 'Leads are not enabled'
        401:
          description: 'Помилка авторизації.'
      security:
        -
          bearerAuth: {  }
    put:
      tags:
        - Pipelines
      summary: 'Оновлення картки воронки'
      description: 'Даний маршрут оновлює картку воронки.'
      operationId: updatePipelinesCard
      parameters:
        -
          name: cardId
          in: path
          description: 'Ідентифікатор картки у воронці'
          required: true
          style: simple
          explode: false
          schema:
            type: string
        -
          $ref: '#/components/parameters/acceptParam'
      requestBody:
        description: "Приклад об'єкту запиту для оновлення картки воронки"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  description: 'Назва картки'
                  type: string
                  nullable: true
                  example: №11011
                note:
                  description: 'Примітка до картки'
                  type: string
                  nullable: true
                  example: Примітка
                status_id:
                  type: integer
                  example: 1
                  description: 'Ідентифікатор статусу картки. Щоб змінити воронку картки, достатньо просто передати статус з потрібної воронки'
                source_id:
                  type: integer
                  example: 11
                  nullable: true
                  description: 'Ідентифікатор джерела'
                client_id:
                  type: integer
                  nullable: true
                  example: 1
                  description: "Ідентифікатор існуючого в системі покупця. Якщо передати, то картка буде зв'язана з цим покупцем"
                manager_id:
                  type: integer
                  nullable: true
                  example: 1
                  description: "ID менеджера зв'язаного с карткою"
                communicate_at:
                  type: string
                  nullable: true
                  example: '2021-02-21 14:44:00'
                  description: 'Дата і час наступного контакту'
                products:
                  description: 'Масив товарів для додавання в картку. Існуючі товари в картці не оновлюються, завжди додаються нові'
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        example: 'Iphone XS max 256gb'
                        description: 'Назва товару'
                      sku:
                        type: string
                        example: 001-242
                        description: 'Артикул товару'
                      price:
                        type: number
                        example: 124.5
                        description: 'Ціна товару за одиницю'
                      quantity:
                        type: number
                        example: 1
                        description: 'Кількість замовлених одиниць товару'
                      picture:
                        type: string
                        nullable: true
                        description: 'Посилання на зображеня товару'
                        example: 'https://i.etsystatic.com/22591342/r/il/52142a/2285383547/il_570xN.2285383547_h8a2.jpg'
                custom_fields:
                  type: array
                  description: 'Користувацькі поля у картці воронки'
                  items:
                    type: object
                    properties:
                      uuid:
                        description: 'Зовнішній ідентифікатор поля'
                        type: string
                        example: LD_1021
                      value:
                        description: 'Значення поля. Для полів з типом `select (список/мультисписок)` передавати масив рядків.'
                        type: string
[...]
